src/main/resources/kaikki.org-dictionary-English.json
src/main/resources/kaikki.org-dictionary-English.rar
src/main/resources/WiktionaryDatabase.db
src/main/resources/WiktionaryDatabaseCombined.db
target/